%h3.center  This website was created specifically for those who have no idea what to buy your friends for a birthday or other celebration.

%p.center 
  Use the power of 
  %a{:href=> "http://www.facebook.com", :title => "Facebook.com"} the largest internet community 
  and find the perfect gifts for your loved ones.

.center 
  %h2
    %a{:href => "/login"} Start now!