%h2 We apologize

%p 
  Currently we do not have anything for 
  %strong= @user["first_name"]

%p Maybe come back in future!

%small
  %a{:href => "/select_friend"} &laquo; Ok, Thanks. I want to find a gift for someone else.